<!doctype html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Mystery Travel</title>
    <meta name = "description" content = "not available">
    <meta name = "author" content = "Deborah">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../../static/css/index.css">
    <link rel = "stylesheet" href = "../../static/css/package.css">
    <link rel = "stylesheet" href = "../../static/css/how.css">
    <link rel = "stylesheet" href = "../../static/css/contact.css">
    <link rel = "stylesheet" href = "../../static/css/base.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="{% url 'index' %}"><img class="logo" src="../../static/images/logo.png" alt="logo"></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="tab"><a href="{% url 'index' %}">HOME</a></li>
                    <li class="tab"><a href="{% url 'how' %}">HOW IT WORKS</a></li>
                    <li class="tab"><a href="{% url 'package' %}">PACKAGES</a></li>
                    <li class="tab"><a href="{% url 'contact' %}">CONTACT</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url 'login' %}" target="_blank"><button>MY ACCOUNT</button></a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>


            {% block content %}

            {% endblock %}

          <footer class="footer">
              <p class="pull-right"><a class="footer-link" href="#"><i class="fa fa-chevron-up" aria-hidden="true"></i></a></p>
              <p class="copyright">&copy; 2017 MYSTERY TRAVEL, all rights reserved. &middot; <a class="footer-link" href="" >Privacy</a> &middot; <a class="footer-link" href="" >Terms</a></p>
          </footer>
    <script>

    </script>
</body>
</html>
