{% extends "Travel/base2.html" %}

{% block content %}

        <div class="stripe7">
              <h1 class="textstr7">BOOK IT NOW !</h1>
              <p class="textstr72">Fill in the form and submit it. <br>One of our travel agent will contact you shortly.</p>
          </div>
          <div class="clientform">
            <h2 class="clienttitle">ORDER FORM</h2>
            <br><br><br>
            <form method="POST" class="post-form">{% csrf_token %}
                <p class="inputclient">{{ form.as_p }}</p>
                <button class="btn1" type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
        <script>
                
                        $(document).ready(function() {
                            $(function () {
                                $('#id_Date_of_departure').datetimepicker({
                                    inline: true,
                                    sideBySide: true,
                                    format: 'YYYY-MM-DD' /*remove this line if you want to use time as well */
                                });
                
                                $("#id_Date_of_departure").on("dp.change", function (e) {
                                    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                                });
                
                            });
                        });
                
                    </script>
                    {% endblock %}
    
