{% extends "Travel/base.html" %}

{% block content %}
    <div class="stripe5">
        <h1 class="textstr5">CONTACT</h1>
    </div>
    <div class="stripe6">
            <h1 class="textstr6">QUESTIONS ? INTRIGUED ? LET'S CHAT</h1>
            <br><br>
            <p class="textstr62">Already booked a trip ? Please email : <a href='mailto:reservations@mysterytravel.com'>reservations@mysterytravel.com</a></p>
            <br>
            <p class="textstr62">Press or media inquiry ? Please email : <a href='mailto:press@mysterytravel.com'>press@mysterytravel.com</a></p>
            <br>
            <p class="textstr62">General inquiry ? Please email : <a href='mailto:hello@mysterytravel.com'>hello@mysterytravel.com</a></p>
            <br><br>
    </div>
{% endblock %}

