{% extends "Travel/base.html" %}

{% block content %}


          <div class="stripe1">
            <h1 class="textstr1">LET US PLAN YOUR 3 DAYS EUROPEAN WEEKEND.</h1>
            <p class="textstr12">The catch ? Your destination is a surprise.</p>
          </div>
          <div class="stripe2">
              <br><br>
              <h1 class="textstr2">WE DO THE WORK</h1>
              <br>
              <p class="textstr22">Want to get away for a weekend but have no time to plan?</p>
              <br>
              <p class="textstr22">What if you don't know where you want to go?</p>
              <br>
              <p class="textstr22">What if you want to be surprised?</p>
              <br>
              <h3 class="textstr23">We plan a 3 days weekend trip somewhere in Europe</h3>
              <br>
              <p class="textstr24">We'll take care of your travel + accommodation arrangements all while keeping your destination a surprise.</p>
              <br>
          </div>
          <div class="stripe3">
              <h1 class="textstr3">PLANNING A VACATION HAS NEVER BEEN EASIER, OR MORE EXCITING!</h1>
          </div>
      {% endblock %}
      